@{
    ViewBag.Title = "Podstawowa wiedza na temat jakości powietrza";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<img id="pollution" src="https://cdn.doz.pl/image/article/90064/scalecrop/840x350" style="min-width: 310px; height: 400px; margin: 0 auto">

<h2>Pył PM2,5 i PM1</h2>
<p>
    Są to pyły zawieszone o średnicy nie większej niż 2,5 μm i kolejno nie większej niż 1 μm. Jak podaje Światowa Organizacja Zdrowia – pyły te są najbardziej szkodliwe dla zdrowia człowieka wsród wszystkich
    zanieczyszczeń powietrza. Ich źródłem są w dużej mierze słabej jakości paliwa. Ze względu na tak mały rozmiar, pył moze przedostać się bezpośrednio do krwioobiegu, przez co staje się bardzo niebezpieczny dla zdrowia. Według informacji podanych przez Główny Inspektorat
    Ochrony Środowiska poziom dopuszczalny dla pyłu PM2,5 to 25 μg/m3 (sredni-roczny).
</p>

<h2>Pył PM10</h2>
<p>
    Pył PM10 jest mieszaniną zawieszonych w powietrzu cząsteczek o średnicy nie większej niż 10 μm. W Polsce normy dla pyłów drobnych PM10 są ustalone na trzech poziomach:
    <ul>
        <li>poziom dopuszczalny 50 μg/m3 (dobowy),</li>
        <li>poziom informowania 200 μg/m3 (dobowy),</li>
        <li>poziom alarmowy 300 μg/m3 (dobowy),</li>
    </ul>
</p>
<h2>Jaki wpływ mają zanieczyszczenia na nasze zdrowie?</h2>
<p>
    Podwyższone stężenie zanienieczyszczeń ma wysoce niekorzystny wpływ na zdrowie człowieka. Coraz częsciej za przyczynę nowotworów podaję się te właśnie czynniki. Śląsk cechuje się wysokim poziomem zanieczyszczeń,
    dlatego też tak ważna jest świadomość mieszkańców i kolejno ich działanie w&nbsp;kierunku zmiany na lepsze.


    Najczęściej występującymi skutkami są:
    <ul>
        <li>nasilenie astmy,</li>
        <li>osłabienie czynności płuc,</li>
        <li>nowotwory płuc, gardła i krtani,</li>
        <li>zaburzenia rytmu serca,</li>
        <li>miażdzyca,</li>
        <li>nasilenie objawów chorób związanych z układem krwionośnym i oddechowym.</li>
    </ul>
</p>

