@{
    ViewBag.Title = "";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<h2>Co możesz znaleźć na tej stronie?</h2>
<p>
    Ta strona ma na celu umożliwienie dostępu do aktualnych parametrów dotyczących jakości powietrza, mieszkańcom jednej z dzielnic Wodzisławia Śląskiego. Powstała ona w ramach projektu.
</p>

<iframe id="mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d41031.62845626514!2d18.40383770075554!3d50.00241828040433!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4711504c6fe4baf3%3A0xfc973881bdb37329!2zV29kemlzxYJhdyDFmmzEhXNraQ!5e0!3m2!1spl!2spl!4v1573924603623!5m2!1spl!2spl" width="600" height="450" frameborder="0" style="min-width: 310px; height: 400px; margin: 0 auto" allowfullscreen=""></iframe>

<h3>Kim jestem?</h3>
<p> Jestem studentką III roku inżynierii biomedycznej na Politechnice Śląskiej. Staram się poznać temat medycyny od strony technicznej. Interesuję się fizyką i astronomią.</p>

<h3>Dane kontaktowe</h3>
<p>
    <address>
        Paulina Klimanek<br />
        Osadnicza 45<br />
        44-373 Wodzisław Śląski<br />
    </address>
</p>
<address>
    <strong>W razie jakichkolwiek pytań:</strong>   <a href="mailto:paulina.klimanek@gmail.com">paulina.klimanek@gmail.com</a>
</address>


